body {
    background-color: #454545;
    color : #d1d1d1;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nome-content {
    margin: 20px;
    max-width: 1000px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    height: 1020px;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    background-color: #292929;
}

.info-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.imagem {
    max-width: 50%;
    height: 600px;
    display: block;
    margin: 10px;
    border-radius: 8px;
}

.content-descricao {
    margin: 20px;
    width: 50%;
    max-width: 900px;
    padding: 10px;
    font-size: 1.2em;
}



.stats-container {
    width: 100%;
    max-width: 960px;
}

.stats{
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

.botao-voltar {
    background-color: #00ffb7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botao-voltar:hover {
    background-color: #005a40;
}



@media (max-width: 768px) {

    .card {
        height: auto;
        margin: 5px 20px;
    }
    .info-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



    .imagem, .content-descricao {
        max-width: 100%;
        width: 360px;
    }

    .imagem {
        height: 500px;
    }

    .content-descricao {
        margin-top: 20px;
        font-size: 1em;
    }

    .stats-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9em;
    }
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .card {
        height: 620px;
        margin: 5px 20px;
    }
    .imagem {
        height: 400px;
    }

    .nome-content {
        margin: 20px;
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 20px;
    }

    .info-container {
        margin-bottom: 0px;
    }

    .stats {
        font-size: 12px;
    }

    .content-descricao {
        font-size: 16px;
    }
}



